:host {
  display: block;
}

.code-declaration {
  color: var(--vs-text);
  font-family: var(--font-mono);
  font-size: var(--fs-lead);
  font-weight: 700;
}

.code-declaration__keyword {
  color: var(--syntax-keyword);
}

.code-declaration__name {
  color: var(--syntax-variable);
}
